<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">
      <%=link_to 'Templates', templates_path %>
    </li>
    <li class="breadcrumb-item" aria-current="page">
      <%=link_to @template.name, @template %>
    </li>    
  </ol>
</nav>