option_settings:
  aws:elasticbeanstalk:command:
    Timeout: 2000
  aws:elasticbeanstalk:application:environment:
    BUNDLE_PATH: "vendor/bundle"  
    BUNDLER_DEPLOYMENT_MODE: true
    BUNDLE_WITHOUT: "test:development"
    BUNDLE_DISABLE_SHARED_GEMS: 1
    LOGGING: debug
    RACK_ENV: "production"
    RAILS_SKIP_MIGRATIONS: true
    RAILS_SKIP_ASSET_COMPILATION: true
    SECRET_KEY_BASE: "033edd7a809e155a55ee33c8c6a568e2b82402d0750b2521b474a25f1e2d13a4ddf52346edc7eb635d73f0f4dee2625d94dd505582603d5c14a88e45fac05aba"
    RDS_HOSTNAME: "firewood-dev.chhpyevohsng.eu-west-2.rds.amazonaws.com"
    RDS_USERNAME: "firewood"
    RDS_PASSWORD: "firewood123"